CREATE OR REPLACE FUNCTION save_profile(id uuid, nome_completo text, crm text, telefone text, updated_at timestamptz) RETURNS json SECURITY DEFINER LANGUAGE plpgsql AS cat BEGIN INSERT INTO public.profiles (id, nome_completo, crm, telefone, updated_at) VALUES (id, nome_completo, crm, telefone, updated_at) ON CONFLICT (id) DO UPDATE SET nome_completo = EXCLUDED.nome_completo, crm = EXCLUDED.crm, telefone = EXCLUDED.telefone, updated_at = EXCLUDED.updated_at; RETURN json_build_object('success', true); END; cat;
